<div class="document-container">
    <div class="document-icon">
      <img src="assets/logo.png" class="mat-iconleft" width="80%" height="35px" alt=""> 
    </div>
    <!-- <div class="document-details">
      <p>ALGERIAN UNION BANQUE</p>
      <p>البنك الاتحاد الجزاري</p>
    </div> -->
  </div>
<nav class="menu">
    <ul>
      <li><a [routerLink]="['/acueil']"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
      <li><a [routerLink]="['/transactions']"><i class="fas fa-exchange-alt"></i> Transaction</a></li>
      <li><a [routerLink]="['/pay']"><i class="fas fa-credit-card"></i> Pay</a></li>
      <li><a [routerLink]="['/receive']"><i class="fas fa-money-bill-wave"></i> Receive</a></li>
      <li><a [routerLink]="['/exchange']"><i class="fas fa-sync"></i> Xchange</a></li>
      <li><a [routerLink]="['/crypto']"><i class="fas fa-coins"></i> Crypto</a></li>
      <li><a [routerLink]="['/deposit-money']"><i class="fas fa-piggy-bank"></i> Deposite Money</a></li>
      <li><a [routerLink]="['/withdraw-money']"><i class="fas fa-wallet"></i> Withdraw Money</a></li>
      <li><a [routerLink]="['/account']"><i class="fas fa-user"></i> Account</a></li>
      <li><a [routerLink]="['/support']"><i class="fas fa-life-ring"></i> Support</a></li>
      <li><a ><i class="fas fa-sign-out-alt"></i> Quit</a></li>
    </ul>
  </nav>
  
