.menu {
  width: 200px;
  background-color: #343a40;
  height: 100vh;
  color: white;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #495057;
}

.menu li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px;
  display: flex;
  align-items: center;
}

.menu li a i {
  margin-right: 10px;
}

.menu li a:hover {
  background-color: #495057;
}
.document-icon{
padding-top: 20px;
padding-bottom: 20px;
}