// .main-container{
//     margin: 50px;
// }
// .min-height-600{
//     min-height: 600px;
// }
// .no-flex-wrap{
//     flex-wrap: inherit !important;
// }
// .min-height-80{
//     min-height: 80px;
// }
// .border-none{
// border: none !important;
// }


footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    }
    
    .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    }
    
    .footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    }
    
    .footer-logo img {
    width: 100px;
    height: auto;
    border-radius: 5%;
    }
    
    .footer-contact,
    .footer-links,
    .footer-location,
    .footer-social {
    flex: 1;
    }
    .sed-mail{
    width: 400px;
    height: 40px;
    }
    
    .footer-contact,
    .footer-links,
    .footer-location,
    .footer-social h4 {
    font-size: 18px;
    }
    
    .footer-links ul,
    .footer-social ul ,.footer-links{
    list-style: none;
    padding: 0;
    }
    
    .footer-links ul li,
    .footer-social ul li {
    margin-bottom: 10px;
    }
    
    .footer-links a,
    .footer-social a ,.footer-links a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    }
    
    /* Styling for the location and contact information */
    .footer-location p {
    margin: 5px 0;
    }
    
    .footer-location h4 {
    color: #fff;
    margin: 0;
    font-weight: bold;
    }