<div class="card">
    <p>Some text here</p>
    <div class="mb-3 d-flex justify-content-between">
            
      <div class="container-login100-form-btn">

      <button type="submit" class="login100-form-btn" >
          <i class="fas fa-add"></i> &nbsp;
          <span>Add Cart</span>
          <!-- <mat-progress-spinner *ngIf="loginInProgress" class="mat-spinner-color" mode="indeterminate" style="width: 20px;height: 20px; margin:auto;">
          </mat-progress-spinner> -->
      </button>
      </div>
  </div>
  </div>
